<h1 class="text-center txt mt"><b>Recent Quizzes</b></h1>
<mat-form-field class="full-width" >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
<div class="bootstrap-wrapper">
    <div class="container-fluid">
        
        <div class="row" *ngIf="result">

            
            
            <div class="col-md-6" *ngFor="let q of result">
                
                <mat-card class="mb ">
                    
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            <h1>{{q.quize.title}}</h1>
                        </mat-card-title>
                        <mat-card-subtitle> 
                            {{q.quize.category.title}}
                        </mat-card-subtitle>
                        
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{q.quize.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" routerLink="/user-dashboard/instructions/{{q.quize.id}}">View</button>
                        <button mat-button color="accent" routerLink="/user-dashboard/instructions/{{q.quize.id}}">Start</button>
                        <button mat-button color="accent" ><span>Ques:</span>{{q.quize.numberOfQuestions}}</button>
                        <button mat-button color="accent" ><span>M.M.</span>{{q.quize.maxMarks}}</button>
                        <br>
                        <button mat-button color="accent" routerLink="/user-dashboard/result/{{q.id}}" ><span>Result</span></button>

                    </mat-card-actions>
                </mat-card>

            </div>
            
            <div class="col-md-12">
                <mat-card>
                    <mat-card-content *ngIf="result.length==0">

                        <h1>No Recent Quize Available in this Category</h1>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- Result -->

<!-- <div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title >
                        <h1 style="margin-left: 200px;">Quize Result</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    
                    <div class="row text-center">
                        <div class="col-md-6 offset-md-3">
                            <table  class="text-center" style="margin-left: 50px;" >
                                <tr >
                                    <td  >Question Attempted : </td>
                                    <td><b>{{result.attempted}}</b></td>
                                </tr>
                                <tr>
                                    <td  ><span style="margin-left: 30px;">Correct Answer : </span></td>
                                    <td><b>{{result.currectAnswers}}</b></td>
                                </tr>
                                <tr>
                                    <td><span style="margin-left: 50px;">Total Marks : </span></td>
                                    <td><b>{{result.marksGot}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions class="bntp">
                    <button mat-raised-button color="primary" routerLink="/user-dashboard/recent-quize" style="margin-left: 200px;" class="mr text-center">Back Home</button>
                    <button mat-raised-button color="accent" (click)="printPage()">Print</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> -->