<mat-card>
    <mat-action-list>
        <div mat-subheader>
            <mat-icon mat-list-icon class="pt5" style="padding-bottom: 10px;">menu</mat-icon>
            <span >Menu</span>
        </div>
        <button mat-list-item  routerLink="/admin">
        <mat-icon mat-list-icon class="pt5">home</mat-icon>Home</button>

        <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon class="pt5">account_circle</mat-icon>Profile</button>

        <button mat-list-item routerLink="/admin/categories">
        <mat-icon mat-list-icon class="pt5">category</mat-icon>Categories</button>

        <button mat-list-item routerLink="/admin/add-category">
        <mat-icon mat-list-icon class="pt5">add_circle_outline</mat-icon>Add Categories</button>

        <button mat-list-item routerLink="/admin/quizzes">
        <mat-icon mat-list-icon class="pt5">quize</mat-icon>Quizzes</button>

        <button mat-list-item routerLink="/admin/add-quizzes">
        <mat-icon mat-list-icon class="pt5">add</mat-icon>Add Quize</button>

        <button mat-list-item routerLink="/admin">
        <mat-icon mat-list-icon class="pt5">logout</mat-icon>Logout</button>



    </mat-action-list>
</mat-card>